<!DOCTYPE html>
<html>

<head>
    <title>InovaBra</title>
    <link href="/stylesheets/home.css" rel="stylesheet" />
    <link href="/stylesheets/materialize.css" rel="stylesheet" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/javascripts/util.js"></script>
    <script>
        if (!sessionCheck('user')) {
            alert('Ops.. You don\'t have permission to view this page.');
            window.location.href = '/';
        }
    </script>
</head>

<body>

    <div class="header">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper transparent">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                </ul>
            </div>
        </nav>
    </div>
    <div class="main-body" id="main-body">
        <div class="main" id="main"></div>
        <div class="bot" id="bot">
            <div class="img-logo hide" id="gif-holder">
                <img src="/gifs/watson2.gif" width="80px" height="80px">
            </div>
            <div class="img-logo hide" id="gif1-holder">
                <img src="/gifs/watson.gif" width="60px" height="60px">
            </div>
            <h4 class="bot-text" id="test"></h4>
            <br>
            <br>
            <div class="row hide" id="ref-btn">
                <button class="btn btn-small blue lighten-1">Referencias</button>
            </div>
            <br>
            <br>
            <div class="row input-holder">
                <input type="text" class="col s12" id="chatInput" placeholder="Digite aqui" onkeypress="return newEvent(event);" style="color:white"
                />
            </div>
        </div>
    </div>

    <div class="footer" style="color:white; text-align: center;">
        <a href="https://codebakery.mybluemix.net" target="_blank">
            <img src="../gifs/casa_logo_branco.gif" style="width: 16%">
        </a>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
    <script src="/javascripts/xhr.js"></script>
    <script src="/javascripts/home.js"></script>
</body>

</html>