<!DOCTYPE html>
<html>

<head>
    <title>inovaBra</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>


    <div class="handler">

        <div class="handler-header">
            <div class="tab login-tab" onclick="showLogin()">Login</div>
            <div class="tab signup-tab" onclick="showSignup()">Signup</div>
        </div>
        <div class="handler-body">
            <div class="login-body" id="login-body">
                <div class="login-form">
                    <input type="text" placeholder="Email" class="input" />
                    <input type="password" placeholder="Senha" class="input" />
                    <input type="button" value="LOGIN"> 
                </div>
                <div class="login-optional">
                    <div>LOGIN WITH FACEBOOK</div>
                </div>
            </div>

            <div class="signup-body" id="signup-body">
                SINGUP
            </div>
        </div>
    </div>


    <script>
        let activeTab = 'Login';

        function showLogin() {
            if (activeTab != 'Login') {
                document.getElementById('login-body').style.animationName = 'showLogin'
                document.getElementById('signup-body').style.animationName = 'closeSignup'
                activeTab = 'Login';
            }
        }

        function showSignup() {

            if (activeTab != 'Signup') {
                document.getElementById('login-body').style.animationName = 'closeLogin'
                document.getElementById('signup-body').style.animationName = 'showSignup'
                activeTab = 'Signup';
            }
        }
    </script>

</body>

</html>