#chatHandler {
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -30%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 30%;
    height: 100%;
    
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between
    
}
.close_btn{
    margin-top: 3px;
}

#closeDiv {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    bottom: 0;
    
    width: 70%;
    height: 100%;
}

@keyframes showChat {
    from {
        right: -30%;
    }
    to {
        right: 0;
    }
}
@keyframes closeChat {
    from{right: 0%;}
    to{right: -30%;}
}

@media screen and  (max-width: 600px) {

    #closeDiv{
        display: none;

    }
    #chatHandler{
        width: 100%;
        right: -100%;
    }

    @keyframes showChat {
        from {
            right: -100%;
        }
        to {
            right: 0;
        }
    }
    @keyframes closeChat {
        from{right: 0%;}
        to{right: -100%;}
    }

}

@media  screen and (min-width: 600px) and (max-width:900px) {
    #closeDiv{
        width: 30%;
    }
    #chatHandler{
        width: 70%;
        right: -70%;
        
    }

    @keyframes closeChat {
        from{right: 0%;}
        to{right: -70%;}
    }

    @keyframes showChat {
        from {
            right: -70%;
        }
        to {
            right: 0;
        }
    }

}


@media  screen and (min-width: 901px) and (max-width:1300px) {
    #closeDiv{
        width: 60%;
    }
    #chatHandler{
        width: 40%;
        right: -40%;
        
    }

    @keyframes closeChat {
        from{right: 0%;}
        to{right: -40%;}
    }

    @keyframes showChat {
        from {
            right: -40%;
        }
        to {
            right: 0;
        }
    }

}

.chat_header{
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.chat_header .title{
    font-size: 18pt;
    
}


.chat_body{
    flex-basis: 82%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 0 20px 0 20px;
    
}

.bubble{
    padding: 12px;
    border-radius: 20px;
    margin-top: 10px;
    min-width: 40px;
    max-width: 80%;
    /* Wrap link tag */
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

 .bubble a{
    color: #0000EE;
} 
.bubble a:hover{
    
    text-decoration: underline;
} 




.watson{
    background-color: #C93C44;
    color: #fff;
}

.user{
    background-color: rgb(189, 189, 189);
    align-self: flex-end;
}

.chat_footer{
    
    padding: 15px 10px 15px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


#chat_input{
    width: 80%;
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff; 
}

.send_btn{
    cursor: pointer;
    width: 28px;
    height: 28px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }