html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.handler {
    background-color: #fff;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.handler-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

.tab {
    width: 50%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.login-tab {
    border-right: 2px solid #000;
}

.handler-body {
    overflow-x: hidden;
    position: relative;
}
.handler-body div {
    width: 100%;
}

.login-body {
    position: relative;
    left: 0;
    top: 10;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* background-color: green; */
    display: flex;
}

.login-form{
    display: flex;
    flex-direction: column;
    
    width: 60%;
}
.login-optional{
    width: 40%;
}
.signup-body {
    background-color: yellow;
    position: absolute;
    top: 0 !important;
    float: right;
    right: -100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.input{
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000; 
    font-size: 12pt;
}
input:focus {
    outline: none;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

@keyframes showSignup {
    from {
        right: -100%;
    }
    to {
        right: 0%
    }
}

@keyframes closeLogin {
    from {
        left: 0%;
    }
    to {
        left: -100%
    }
}

@keyframes showLogin {
    from {
        left: -100%;
    }
    to {
        left: 0%
    }
}

@keyframes closeSignup {
    from {
        right: 0%;
    }
    to {
        right: -100%
    }
}


@media screen and (max-width: 600px) {
    .handler {
        width: 100%;
    }
}